*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#title{
  color:#BB0000;
  font-size: 3em;
}

#cuerpo{
  padding: 0 3% 0 3%;
}

#menu{
    width: 400px;
    margin-top: 60px;
}

#menu{
    list-style: none;
}

#menu a {
   text-decoration: none;
    margin-top: 15px;
    font-family: Arial;
    font-size: 30px;
    background-color: #BB0000;
    display: block;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
    box-shadow: 5px 0px 10px #939393;
    color:#fff;
}

#menu a :hover{
  padding-left: 50px;
}

header{
  width: 100%;
  overflow: hidden;
  background: black;
  margin-bottom: 20px;
  margin: auto;
  height: 50px;
}

#banco a{
  color: #FFF;
  font-size: 20px;
  line-height: 40px;
  float: left;
}

#info{
   float: right;
   line-height: 40px;
}

#info a{
  display: inline-block;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  line-height: normal;
  font-weight: blood;
}
