
div#donantes{
  border: 3px solid black;
  width: 650px;
  height: 500px;
  position: relative;
  top: -430px;
  left: 400px;
}
div#donantes select{
  width: 350px;
    color: #FFFFFF;
}
div#donantes button#buscar{
   float: right;
   width: 250px;
   height: 40px;
   color: white;
   background-color: rgb(224, 48, 13);
}
#tabla{
  position: relative;
  top: 20px;
  left: 50px;
  height: 400px;
  width: 550px;
}

#tipo {
   color: black;
   background-color: rgb(224, 48, 13);
   height: 40px;
}
