div#bancos{
  position: relative;
  top: -350px;
  bottom: 0px;
  right: 0px;
  left: 500px;
  border: 3px solid black;
  width: 700px;
  height: 600px;
}
div#bancos select{
   width: 300px;

}
div#bancos button#buscar{
   width: 150px;
   float: right;
}
div#bancos button#solicitar{
   width: 150px;
   position: relative;
   left: 250px;
   top: 10px;
}
table#tabla{
  width: 600px;
  height: 300px;
  position: relative;
  left: 20px;
  top: 10px;
}
textarea{
  border: 3px solid black;
  position: relative;
  left: 100px;
 }
