#informacion {
  position: relative;
  top: -350px;
  bottom: 0px;
  right: 0px;
  left: 500px;
  border: 3px solid black;
  width: 600px;
  height: 300px;
  display: inline-block;
}
#informacion a{
  text-decoration: none;
  color: black;
}
#informacion a#perfil{
   font-size: 30px;
   color: red;
}
