
div#donantes{
  border: 3px solid red;
  width: 650px;
  height: 500px;
  position: relative;
  top: -300px;
  left: 500px;
}
div#donantes select{
  width: 250px;
}
div#donantes button#buscar{
   float: right;
   width: 200px;
}
#tabla{
  position: relative;
  top: 20px;
  left: 100px;
  height: 400px;
  width: 400px;
}

#tipo {
   color: black;
   background-color: rgb(224, 48, 13);
   height: 40px;
}
