div#bancos{
  position: relative;
  top: -430px;
  bottom: 0px;
  right: 0px;
  left: 380px;
  border: 3px solid black;
  width: 700px;
  height: 600px;
}
div#bancos select{
   width: 400px;
   height: 35px;
   background-color: rgb(224, 48, 13);
   color: #FFFFFF;

}
div#bancos button#buscar{
   width: 250px;
   height: 35px;
   float: right;
   background-color: rgb(224, 48, 13);
   color: #FFFFFF;
}
div#bancos button#solicitar{
   background-color: rgb(224, 48, 13);
   width: 200px;
   height: 35px;
   position: relative;
   left: 250px;
   top: 10px;
   color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
table#tabla{
  width: 650px;
  height: 300px;
  position: relative;
  left: 20px;
  top: 10px;
}
textarea{
  border: 3px solid black;
  width: 650px;
  position: relative;
  left: 20px;
 }
